**/__pycache__/

input/*
!BTCUSDT_1h_2020.csv
!BTCUSDT_30m_2020.csv
!ETHUSDT_1h_2020.csv

notebooks/*
!notebooks/wf.ipynb
!notebooks/btcusdt_30m.ipynb

env/*

backtests/*


models/
!models/.gitkeep

#!backtests/

.vscode/

scrap.txt
